<div class="col-sm-7 offset-sm-1 blog-main">
  <div class="container-fluid">
    <h2 class="topic-title text-center"><%= @topic.title %></h2>
  </div>

  <%= paginate @blogs %>

  <%= render @blogs %>

  <%= paginate @blogs %>

</div>
