<footer class="footer">
  <hr>
  <div class="container-fluid">

    <div class="row justify-content-between">
      <div class="col-6">
        <a class="footer-text" href="https://geoff-humphreys-portfolio.herokuapp.com/">built by Geoff Humphreys</a>
      </div>
      <div class="col-6 footer-text text-right">
        <p>© 2018 | Roost and Burrow</p>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-md-4 col-lg-4">
        <div class="text-center">
          <div class="navbar-brand">
            <a class="nav-brand-media" href="https://www.instagram.com/rachellarat/"><%= fa_icon "instagram" %></a>
            <a class="nav-brand-media" href="#"><%= fa_icon "facebook" %></a>
            <a class="nav-brand-media" href="#"><%= fa_icon "twitter" %></a>
            <a class="nav-brand-media" href="#"><%= fa_icon "envelope" %></a>
          </div>
        </div>
      </div>
      </div>

  </div>
</footer>
