<section class="jumbotron">
  <div class="container">
    <div class='text-center'>
      <%= image_tag "chicken-logo.png", width: 300, alt: "profile image" %>
    </div>
      <h1 class="jumbotron-heading text-center text-uppercase">Roost and Burrow</h1>
      <h6 class="jumbotron-subheading text-uppercase"><span>something something</span></h6>
  </div>
</section>
