<section class="jumbotron">
  <div class="container">
    <div class='text-center'>
      <%= image_tag "chicken-logo.png", width: 300, alt: "profile image" %>
    </div>
    <h1 class="jumbotron-heading title text-center">Roost and Burrow</h1>
    <h6 class="text-center"><span>something something</span></h4>
  </div>
</section>
<!-- <div class="bg-light container ">
  <h4 class= "text-center">Topics</h4>
  <div class="navbar topic-bar">
    <% @side_bar_topics.each do |topic| %>
    <p class='topics'><%= link_to topic.title, topic_path(topic) %></p>
    <% end %>
  </div>
</div> -->
