<section class="jumbotron">
  <div class="container">
    <h1 class="jumbotron-heading title text-center">Roost and Burrow</h1>
  </div>
</section>
<div class="bg-light container ">
  <h4 class= "text-center">Topics</h4>
  <div class="navbar topic-bar">
    <% @side_bar_topics.each do |topic| %>
    <p class='topics'><%= link_to topic.title, topic_path(topic) %></p>
    <% end %>
  </div>
</div>
