@import "bootstrap";
@import "font-awesome";




/*
 * Globals
 */

@media (min-width: 48em) {
  html {
    font-size: 18px;
  }
}

body {
  font-family: 'Lato', sans-serif;
  color: #555;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  font-family: 'Raleway', sans-serif;
  font-weight: normal;
  color: #333;
}


button {
  border: 1px solid grey !important;
  font-family: 'Rubik', sans-serif;
  text-transform: uppercase;
}


a{
  color: grey;
  text-decoration: none;
}

a:hover{
  color: #f7b6aa;
  text-decoration: none;
}

/*
 * Override Bootstrap's default container.
 */

.container {
  max-width: 60rem;
}

//  /////////////////////////////////////////////////
//  Custom styles
// /////////////////////////////////////////////////

//
// Navigation bar
//

.navbar {
  background-color: #efdedb;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.nav-brand-media{
  padding-left: .5vw;
}

.nav-link {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  font-family: 'Rubik', sans-serif;
  font-weight: 100;
}

//
// Jumbotron
//

.jumbotron{
  background-color: white;
}
.jumbotron-heading{
  font-family: 'Rubik', sans-serif;
  font-size: 6vw;
  font-weight: 100;
}

.jumbotron-subheading {
  font-family: 'Rubik', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}
.jumbotron-subheading span {
  background: #fff;
  margin: 0 20px;
}
.jumbotron-subheading:before,
.jumbotron-subheading:after {
  background: grey;
  height: 2px;
  flex: 1;
  content: '';
}

.jumbotron-subheading:before {
  margin-left: 15vw;
}

.jumbotron-subheading:after {
  margin-right: 15vw;
}

//
// Blogs
//

.blog-index {
  margin-bottom: 4rem;
  padding-left: 4rem;
}

.blog-date{
  font-family: 'Rubik', sans-serif;
  text-transform: uppercase;
}

.blog-index-title a {
  text-decoration: none;
  color: grey;
}

.blog-index-title a:hover {
  color: #efdedb;
}

.blog-image{
  width: 100%;
}

.blog-show-cover-image img {
  border-radius: 10vw;
}

.blog-show-title {
  margin-bottom: .25rem;
  font-family: 'Rubik', sans-serif;
  text-transform: uppercase;
}

.blog-show-subtitle{

}

.blog-show-body {
  padding: 2vw;
  font-size: 1.5vw;
  // background-color: #f2f9f8;
  margin-bottom: 0 !important;
}

//
// Comment Section
//

.comment-card > .card {
  margin-top: 15px;
}

.comment-attribution {
  font-size: 12px;
  font-style: italic;
}

.comment-name {
  font-weight: 700;
}


//
// Blog sidebar
//

.sidebar-module {
  padding: .5rem 1.5rem !important;
}

.sidebar-module-header {
  border: 3px double grey;
  background-color: #efdedb;
}

.sidebar-module-inset p:last-child,
.sidebar-module-inset ul:last-child,
.sidebar-module-inset ol:last-child {
  margin-bottom: 0;
}

.pro-pic-sample img {
  border-radius: 20vw;
}

.side-bar-social-links a {
  font-size: 2.5em;
}

.side-bar-topic-link {
  margin-top: 1vw;
  margin-right: 1vw;
}

.sibebar-topic-link-text {
  padding-top: 1vw;
  font-family: 'Rubik', sans-serif;
  text-transform: uppercase;
  font-size: 50%;
}

.instagram-card {
  padding: .5px;
}

/* Pagination */
.blog-pagination {
  margin-bottom: 4rem;
}
.blog-pagination > .btn {
  border-radius: 2rem;
}

//
// Breadcrumb
//


.breadcrumb {
  background-color: #efdedb;
}

.blogcrumb a {
  font-size: 1.25em;
  margin: 0px 10px 0px 10px;
}

//
// Footer
//

.blog-footer {
  margin-top: 20px;
  padding: 2.5rem 0;
  color: #999;
  text-align: center;
  background-color: #f9f9f9;
  border-top: .05rem solid #e5e5e5;
}

.blog-footer p:last-child {
  margin-bottom: 0;
}

//
// Trial styles
//

.alpha {
  border: 1px solid red;
}
.beta {
  border: 1px solid green;
}
